body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

.body-bg {
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

.color-grey {
    color: #4b4b4b;
    /* color: orange; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Serif', serif;
}

.cv-header, .profile, .experience, .company-name {
    font-family: 'IBM Plex Serif', serif;
}

.cv {
    margin-top: 50px;
    border: 1px solid #4b4b4b;
    box-shadow: 1px 1px 10px #000;
}

.cv-left {
    background: #4b4b4b;
    color: #fff;
}

.cv-right {
    background: #fff;
    color: #131313;
}

.cv-left a {
    color: #fff;
}

.cv-left a:hover {
    text-decoration: none;
}

.cv-left ul {
    line-height: 175%;
    padding-left: 30px;
}

.cv-left ul.contacts-block {
    list-style-type: none;
    padding-left: 0;
}

.cv-left .address {
    font-style: italic;
}

article {
     padding: 20px;
}

.company-name {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.company-name i{
    font-size: .8rem;
    font-family: Aria, sans-serif;
    text-transform: none;
}

.job-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.lines {
    overflow: hidden;
}
.lines::before, .lines::after {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 3px;
    background: #4b4b4b;
    border: 1px solid #fff;
    vertical-align: middle;
}

.lines::before {
    margin-left: -100%;
}

.lines::after {
    margin-right: -100%;
}